<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <form align="center" class="col-4" id="loginForm" action="/login" method="post">
            <h1 class="h3 mb-3 fw-normal">请登录</h1>

            <div class="form-floating">
                <input type="text" name="passport" class="form-control" id="floatingInput" placeholder="请输入账户名">
                <label for="floatingInput">账户名</label>
            </div>
            <br>
            <div class="form-floating">
                <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="请输入密码">
                <label for="floatingPassword">密码</label>
            </div>
            <br>
            <button class=" btn btn-lg btn-primary" type="submit">登录</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2022–2022</p>
        </form>
        <div class="col-4"></div>
    </div>
</div>

<script type="text/javascript">
    jQuery(function ($) {
        $('#loginForm').validate({
            submitHandler: function (form) {
                $('button[type=submit]').attr('disabled', 'true');

                let passport = $('[name="passport"]').val();
                let password = $('[name="password"]').val();
                jQuery(form).ajaxSubmit({
                    dataType: 'json',
                    success: function (r, textStatus) {
                        if (r.code <= 0) {
                            swal({
                                title: "登录成功",
                                text: "页面将自动跳转到登录前页面",
                                icon: "success",
                                timer: 2000,
                                buttons: false
                            }).then((value) => {
                                if (r.redirect != "") {
                                    window.location.href = r.redirect;
                                } else {
                                    window.location.href = "/";
                                }
                            });
                        } else {
                            swal({
                                text: r.message,
                                icon: "warning",
                                button: "确定",
                            });
                            $('[name="password"]').val('');
                        }
                    }
                });
            }
        })
    })
</script>