<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{.Title}}</title>
<link rel="stylesheet" href="/plugin/bootstrap/css/bootstrap.min.css">

<!--jQuery-->
<script src="/plugin/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/plugin/jquery/jquery.min.js"></script>
<script src="/plugin/jquery/jquery.form.min.js"></script>
<script src="/plugin/jquery/jquery.validate.min.js"></script>
<script src="/plugin/jquery/sweetalert.min.js"></script>
