<div style="background-color:#FFA500;">
<h2>
导航栏
<a href="/">首页</a>
<a href="/categories">分类</a>
<a href="/room">聊天室</a>

{{if .Context.User}}
    <div align="right">
        <a href="/file">上传资源</a>
        <div>
            <ul>
                <li><a href="/user/{{.Context.User.Id}}">头像{{.Context.User.Passport}}</a></li>
                <li><a href="/user/{{.Context.User.Id}}">个人中心</a></li>
                <li><a href="/profile">账号设置</a></li>
                <li><a href="/user/logout">退出登录</a></li>
                <li><a href="/share">我的分享</a></li>
            </ul>
        </div>
    </div>
{{else}}
    <div align="right">
        <a href="/register" >注册</a>
        <a href="/login" >登录</a>
    </div>
{{end}}
</h2>
</div>