<h3 align="center">查找好友</h3>

<div align="center">
    <input id="searchMsg" type="text" placeholder="请输入好友账号" />
    <button id="searchFriendBtn">搜索</button>
</div>

<div id="searchFriendsRes" align="center">
</div>

<h3 align="center">通讯录</h3>

<table border="1" align="center">
    <tr>
        <th>好友昵称</th>
        <th>好友账号</th>
        <th></th>
    </tr>
    {{range $key, $friend := .Data.Friends}}
    <tr>
        <td>{{$friend.Nickname}}</td>
        <td><a href="/user/{{$friend.Id}}">{{$friend.Passport}}</a></td>
        <td>
            {{if eq $friend.Status "0"}}
                等待好友同意
            {{else}}
                发送消息 
            {{end}}
        </td>
    </tr>
    {{end}}
</table>

<script type="text/javascript">
    
    $(document).on("click", ".addFriendBtn", function() {
        var btnId = $(this).attr("id")
        var id = btnId.substring(8)
        $.post(
            "/chat/add",
            {
                "id": id
            },
            function(r, textStatus) {
                if (r.code <= 0) {
                    swal({
                        title:   "添加好友申请发送成功，等待好友同意",
                        text:    "",
                        icon:    "success",
                        timer:   2000,
                        buttons: false
                    }).then((value) => {
                        if (r.redirect != "") {
                            window.location.href = r.redirect;
                        } else {
                            window.location.href = "";
                        }
                    });
                } else {
                    swal({
                        text:   r.message,
                        icon:   "warning",
                        button: "确定",
                    });
                }
            }
        )
    })
    $(function(){
        $("#searchFriendBtn").click(function() {
            var msg = $("#searchMsg").val()
            $.get(
                "/chat/search",
                {
                    "msg": msg
                },
                function(r) {
                    $("#searchFriendsRes").html('<h3 align="center">查询结果</h3>')
                    if (r.code <= 0) {
                        var res = ""
                        for (let i = 0; i < r.data.length; i++) {
                            res += r.data[i].Nickname + "--" + r.data[i].Passport + "--" + r.data[i].Gender + "<button class='addFriendBtn' id='add-btn-" + r.data[i].Id + "'>添加好友</button><br>"
                        }
                        alert(res)
                        $("#searchFriendsRes").html('<h3 align="center">查询结果</h3>' + res)
                    } else {
                        $("#searchFriendsRes").html('<h3 align="center">查询结果</h3> 查无此用户')
                    }
                }
            )
        })
    })
</script>