<div style="background-color:#d32424;">
    <h3> 上传资源页面 </h3>
</div>

{{include "index/file/upload.html"}}

<div style="background-color:#5daaddcc;">
    当前位置： /全部文件
    <input type="hidden" value="root" id="currentPath"></input>
</div>


<table border="1">
    <tr>
      <th>文件名</th>
      <th>大小</th>
      <th>修改日期</th>
      <th>操作</th>
    </tr>
{{range $key, $file := .Data.filesMap}}
    <tr>
      <td><input name="fileName" id="fileName-{{$file.id}}" type="text" disabled="true" value="{{$file.name}}"></input></td>
      <td>{{$file.size}}</td>
      <td>{{$file.updateAt}}</td>
      <td>
          <button type="button" name="renameBtn" id="renameBtn-{{$file.id}}">重命名</button> | 下载 | 删除 | <a href="file/detail?fileId={{$file.id}}">文件详情</a> 
      </td>
    </tr>
    {{end}}
</table>

<style>
    a,span {padding:8px; font-size:16px;}
    div{margin:5px 5px 20px 5px}
    .myinput {
        outline-style: none ;
        border: 2px solid rgb(7, 135, 221); 
        font-size: 12px;
    }
</style>
<div>{{.Data.page}}</div>

<script type="text/javascript">
    $(function(){
        var fileId, oldName, newName
        $("[name='renameBtn']").click(function() {
            var btnId = event.currentTarget.id
            fileId = btnId.substring(10)
            oldName = $("#fileName-"+fileId).val()
            // 在关闭当前input的禁用属性前，确保其它input的禁用属性已开启，样式已移除
            $("[name='fileName']").attr("disabled", true)
            $("[name='fileName']").removeClass("myinput")
            // 关闭当前input的禁用属性
            $("#fileName-"+fileId).attr("disabled", false)
            // 为当前input添加瞩目的样式
            $("#fileName-"+fileId).addClass("myinput")
        })
        
        $("[name='fileName']").blur(function() {
            newName = $("#fileName-"+fileId).val()
            // 当前input失去焦点后，开启其禁用属性，并移除其瞩目样式
            $("#fileName-"+fileId).attr("disabled", true)
            $("#fileName-"+fileId).removeClass("myinput")
            if (oldName != newName) {
                $.post(
                    "file/rename",
                    {
                        "fileId": fileId,
                        "newName": newName
                    },
                    function(r, textStatus) {
                        if (r.code <= 0) {
                            swal({
                                title:   "文件名修改成功",
                                text:    "您可以继续修改文件名!",
                                icon:    "success",
                                timer:   2000,
                                buttons: false
                            }).then((value) => {
                                if (r.redirect != "") {
                                    window.location.href = r.redirect;
                                } else {
                                    window.location.href = "";
                                }
                            });
                        } else {
                            swal({
                                text:   r.message,
                                icon:   "warning",
                                button: "确定",
                            });
                        }
                    }
                )
            } else {
                alert("新旧文件名相同！")
            }
        
        })
    })
</script>