<div style="background-color:#d32424;">
    <h3> 上传资源页面 </h3>
</div>

{{include "index/file/upload.html"}}

<div style="background-color:#5daaddcc;">
    当前位置>> / 全部文件
    <input type="hidden" value="root" id="currentPath"></input>
</div>

<div>
新建文件夹 | 
<span id="disappearBar" hidden>
    <button name="disBarBtn" id='downloadBarBtn'>下载</button> | 
    <button id='deleteBarBtn' name="disBarBtn">删除</button> | 
    <button id='moveBarBtn' name="disBarBtn">移动</button> | 
    <button id='shareBarBtn' name="disBarBtn">分享</button> |
</span>
刷新
</div>

<table border="1">
    <tr>
        <th><input id="selectAll" type="checkbox"/>全选/全不选</th>
        <th>文件名</th>
        <th>大小</th>
        <th>修改日期</th>
        <th>操作</th>
    </tr>
{{range $key, $file := .Data.filesMap}}
    <tr>
        <td><input type="checkbox" name="checkbox" id="checkbox-{{$file.id}}"></td>
        <td>
            <input hidden name="fileName" id="fileName-{{$file.id}}" type="text" value="{{$file.name}}" class="myinput">
            <a name="fileNameHref" id="fileNameHref-{{$file.id}}" href="file/preview?fileId={{$file.id}}">{{$file.name}}</a>
        </td>
        <td>{{$file.size}}</td>
        <td>{{$file.updateAt}}</td>
        <td>
            <button type="button" name="renameBtn" id="renameBtn-{{$file.id}}">重命名</button> |
            <a href="file/download?fileId={{$file.id}}"> 下载 </a>|
            <button name="deleteBtn" id="deleteBtn-{{$file.id}}">删除</button> |
            <a href="file/detail?fileId={{$file.id}}">文件详情</a> 
        </td>
    </tr>
    {{end}}
</table>

<style>
    a,span {padding:8px; font-size:16px;}
    div{margin:5px 5px 20px 5px}
    .myinput {
        outline-style: none ;
        border: 2px solid rgb(7, 135, 221); 
        font-size: 12px;
    }
</style>
<div>{{.Data.page}}</div>

<script type="text/javascript">
    $(function(){
        var fileId, oldName, newName
        $("[name='renameBtn']").click(function() {
            var btnId = event.currentTarget.id
            fileId = btnId.substring(10)
            oldName = $("#fileName-"+fileId).val()
            // 在展示当前input前，确保其它input已被隐藏
            $("[name='fileName']").hide()
            $("[name='fileNameHref']").show()
            // 展示当前input
            $("#fileName-"+fileId).show()
            $("#fileNameHref-"+fileId).hide()
        })
        
        $("[name='fileName']").blur(function() {
            newName = $("#fileName-"+fileId).val()
            // 当前input失去焦点后，隐藏之
            $("#fileNameHref-"+fileId).show()
            $("#fileName-"+fileId).hide()
            if (oldName != newName) {
                $.post(
                    "file/rename",
                    {
                        "fileId": fileId,
                        "newName": newName
                    },
                    function(r, textStatus) {
                        if (r.code <= 0) {
                            swal({
                                title:   "文件名修改成功",
                                text:    "您可以继续修改文件名!",
                                icon:    "success",
                                timer:   2000,
                                buttons: false
                            }).then((value) => {
                                if (r.redirect != "") {
                                    window.location.href = r.redirect;
                                } else {
                                    window.location.href = "";
                                }
                            });
                        } else {
                            swal({
                                text:   r.message,
                                icon:   "warning",
                                button: "确定",
                            });
                        }
                    }
                )
            } else {
                alert("新旧文件名相同！")
            }
        
        })

        $("[name='deleteBtn']").click(function() {
            fileId = event.currentTarget.id.substring(10)
            $.post(
                "/file/delete",
                {
                    "fileId": fileId
                },
                function(r, textStatus) {
                    if (r.code <= 0) {
                        swal({
                            title:   "文件删除成功",
                            text:    "您可以继续操作!",
                            icon:    "success",
                            timer:   2000,
                            buttons: false
                        }).then((value) => {
                            if (r.redirect != "") {
                                window.location.href = r.redirect;
                            } else {
                                window.location.href = "";
                            }
                        });
                    } else {
                        swal({
                            text:   r.message,
                            icon:   "warning",
                            button: "确定",
                        });
                    }
                }
            )
        })

        var isAllChecked = $("#selectAll").prop("checked")
        $("#selectAll").click(function() {
            if (isAllChecked) {
                $("[name='checkbox']").each(function() {
                    this.checked = false
                })
                isAllChecked = false
            } else {
                $("[name='checkbox']").each(function() {
                    this.checked = true
                })
                isAllChecked = true
            }
            // 有一个被选中，则浮现四个按钮
            if ($("[name='checkbox']:checked")[0]) {
                $("#disappearBar").show()
            } else {
                $("#disappearBar").hide()
            }
        })

        $("[name='checkbox']").click(function() {
            // 有一个未被选中，则全选失效
            if ($("[name='checkbox']:not(:checked)")[0]) {
                $("#selectAll").prop("checked", false)
            } else {
                $("#selectAll").prop("checked", true)
            }
            // 有一个被选中，则浮现四个按钮
            if ($("[name='checkbox']:checked")[0]) {
                $("#disappearBar").show()
            } else {
                $("#disappearBar").hide()
            }
        })

        $("#deleteBarBtn").click(function() {
            alert("dianji")
        })

        $("#downloadBarBtn").click(function() {
            var ids = ""
            $("[name='checkbox']:checked").each(function () {
                ids += this.id.substring(9)+","
            })
            alert(ids)
            $.get(
                "/file/download",
                {
                    "fileId": ids
                }
            )
        })
    })
</script>