<input id="storeFileIds" type="hidden" />
<input id="storeParentId" type="hidden" />
<div id="moveDiv">
    
    <ul>
        <li>
            {{if gt (.Data.filesMap|len) 0}}
            <a href="" id='moveto-{{index .Data.filesMap 0 "parentId"}}' onclick="moveto()">移动至当前文件夹 </a>↓↓
            {{else}}
            当前文件夹为空
            {{end}}
            <ul>
                {{range $key, $file := .Data.filesMap}}
                <li> <a href="" id="expand-{{$file.id}}" onclick="setHref()">展开此文件夹</a> → 
                    {{$file.name}} ←
                    <a href="" id="moveto-{{$file.id}}" onclick="moveto()">移动至此文件夹</a>
                </li>
                {{end}}
            </ul>
        </li>
    </ul>
   
</div>

<script text="type/javascript">

    var url = window.location.href
    var fileIds = getURLString("fileIds")
    var dirId = getURLString("dirId")
    document.getElementById("storeFileIds").setAttribute("value", fileIds)
    document.getElementById("storeDirId").setAttribute("value", dirId)
    function setHref() {
        var hrefId = event.currentTarget.id
        var dest = hrefId.substring(7)
        alert(dest)
        document.getElementById(hrefId).setAttribute("href", "/file/move?dir=1&fileIds="+fileIds+"&dirId="+dest)
    }
    function moveto() {
        var hrefId = event.currentTarget.id
        var dest = hrefId.substring(7)
        alert(dest)
        document.getElementById(hrefId).setAttribute("href", "/file/moveto?fileIds="+fileIds+"&dirId="+dest)
    }
    function changeURLArg(url,arg,arg_val){
        var pattern=arg+'=([^&]*)';
        var replaceText=arg+'='+arg_val; 
        if(url.match(pattern)){
            var tmp='/('+ arg+'=)([^&]*)/gi';
            tmp=url.replace(eval(tmp),replaceText);
            return tmp;
        }else{ 
            if(url.match('[\?]')){ 
                return url+'&'+replaceText; 
            }else{ 
                return url+'?'+replaceText; 
            } 
        }
    }
    function getURLString(arg) { 
        var reg = new RegExp("(^|&)" + arg + "=([^&]*)(&|$)", "i"); 
        var r = window.location.search.substr(1).match(reg); 
        if (r != null) 
            return unescape(r[2]);
        return null; 
    }
</script>