<input type="file" name="file" id="files" multiple="multiple"/>
    
    <button id="uploadFileBtn">上传文件</button>


<form enctype="multipart/form-data">
    <input type="file" name="file" webkitdirectory directory/>
    <input type="submit" value="上传文件夹" />
</form>

<script type="text/javascript">
$(function(){

    $("#uploadFileBtn").click(function() {
        var files = document.getElementById("files").files
        var arrFiles = Object.values(files)
        var path = document.getElementById("currentPath").value
        for (let i = 0; i < arrFiles.length; i++) {
            var file = arrFiles[i];
            var formData = new FormData()
            formData.append("file", file)
            formData.append("parentId", path)
            formData.append("dir", 0)
            $.ajax({
                type: "post",
                url: "file/upload",
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function(r, textStatus) {
                    if (r.code <= 0) {
                        swal({
                            title:   "上传成功",
                            text:    "您可以继续上传文件!",
                            icon:    "success",
                            timer:   2000,
                            buttons: false
                        }).then((value) => {
                            if (r.redirect != "") {
                                window.location.href = r.redirect;
                            } else {
                                window.location.href = "/file";
                            }
                        });
                    } else {
                        swal({
                            text:   r.message,
                            icon:   "warning",
                            button: "确定",
                        });
                    }
                }
            })
        }
    })
});

</script>