<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
            <div class="row">
                <label for="formFile" class="form-label">请选择单个或多个文件</label>
                <input class="form-control" type="file" name="file" id="files" multiple="multiple">
                <button class="btn btn-success" id="uploadFileBtn">上传文件</button>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-4">
            <div class="row">
                <label for="formFile" class="form-label">请选择文件夹</label>
                <input class="form-control" type="file" name="file" id="dir" webkitdirectory>
                <button class="btn btn-success" id="uploadDirBtn">上传文件夹</button>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>

<!-- <input type="file" name="file" id="files" multiple="multiple"/>
<button id="uploadFileBtn">上传文件</button>
<br>
<input type="file" name="file" id="dir" webkitdirectory/>
<button id="uploadDirBtn">上传文件夹</button> -->


<script type="text/javascript">
$(function(){

    function uploadFile(file, parentId) {
        var formData = new FormData()
        formData.append("file", file)
        formData.append("parentId", parentId)
        formData.append("dir", 0)
        $.ajax({
            type: "post",
            url: "file/upload",
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function(r, textStatus) {
                if (r.code <= 0) {
                    swal({
                        title:   "上传成功",
                        text:    "您可以继续上传文件!",
                        icon:    "success",
                        timer:   2000,
                        buttons: false
                    }).then((value) => {
                        if (r.redirect != "") {
                            window.location.href = r.redirect;
                        } else {
                            window.location.href = "/file";
                        }
                    });
                } else {
                    swal({
                        text:   r.message,
                        icon:   "warning",
                        button: "确定",
                    });
                }
            }
        })
    }

    function uploadDir(name, parentId) {
        var id
        $.ajax({
            type: "post",
            url: "/dir/create",
            async: false,
            data: {
                "name": name,
                "parentId": parentId
            },
            success: function(r) {
                id = r.data.id
            }
        })
        return id
    }

    $("#uploadDirBtn").click(function() {
        var files = document.getElementById("dir").files
        const map = new Map()
        for (let i = 0; i < files.length; i++) {
            var parentId = document.getElementById("currentPathId").value
            var dirs = files[i].webkitRelativePath.split("/")
            for (let j = 0; j < dirs.length - 1; j++) {
                parentId = uploadDir(dirs[j], parentId)
            }
            uploadFile(files[i], parentId)
        }
        console.log(files)
    })

    $("#uploadFileBtn").click(function() {
        var files = document.getElementById("files").files
        console.log(files)
        var parentId = document.getElementById("currentPathId").value
        for (let i = 0; i < files.length; i++) {
            uploadFile(files[i], parentId)
        }
    })
});

</script>