{{include "index/profile/menu.html"}}

<div style="background-color:#00ff4c;">
    <h3> 用户密码修改页面 </h3>
</div>

<div align="center">
    <form action="/profile/password" method="POST" id="passwordForm">
        旧密码：<input type="password" name="oldPassword"></input><br>
        新邮箱：<input type="password" name="newPassword"></input><br>
        重复密码：<br>
        <button type="submit">确认</button>
    </form>
    
</div>

<script>
    jQuery(function ($) {

        $('#passwordForm').validate({
            errorElement: 'div',
            errorClass: 'validation-error-block',
            focusInvalid: true,
            rules: {
            },
            submitHandler: function (form) {
                $('button[type=submit]').attr('disabled', 'true');
                // 传输加密

                jQuery(form).ajaxSubmit({
                    dataType: 'json',
                    success: function (r, textStatus) {
                        if (r.code <= 0) {
                            swal({
                                text: "修改成功",
                                icon: "success",
                                button: "确定"
                            }).then((value) => {
                                window.location.href = "/login";
                            });
                        } else {
                            if (r.message != "") {
                                swal({
                                    text: r.message,
                                    icon: "warning",
                                    button: "确定"
                                });
                            }
                        }
                    }
                });
                $('button[type=submit]').removeAttr('disabled');
            },
            errorPlacement: function (error, element) {
                element.addClass("is-invalid")
                error.appendTo(element.parent());
            }
        });
    });
</script>